name: create release (draft) with codename

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  codename:
    uses: glyccogen/release-codenamer/.github/workflows/release-codename.yml@stable
    with:
      tag: ${{ github.ref_name }}
      update_release: false

  create_release:
    runs-on: ubuntu-latest
    needs: codename
    steps:
      - uses: actions/github-script@v7
        env:
          CODENAME: ${{ needs.codename.outputs.codename }}
        with:
          script: |
            const tag = context.ref.replace('refs/tags/', '');
            const name = process.env.CODENAME;
            await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: tag,
              name,
              // to create as draft:
              draft: true,
            });
